<h1 
  style="color:#207d06; border-bottom: 3px solid #207d06;"
</h1>
<h1 
  style="color:#165b33; border-bottom: 3px solid #165b33;"
</h1>
<h1 
  style="color:#146b3a; border-bottom: 3px solid #146b3a;"
</h1>
<h1 
  style="color:#f8b229; border-bottom: 3px solid #f8b229;"
</h1>
<h1 
  style="color:#ea4630; border-bottom: 3px solid #ea4630;"
</h1>
<h1 
  style="color:#bb2528; border-bottom: 3px solid #bb2528;"
</h1>
<h1 
  style="color:#4974a5; border-bottom: 3px solid #bb2528;"
>
  --- Day 2: Cube Conundrum --- Snow Island
</h1>

<h2 
  style="color:#207d06; border-bottom: 3px solid #f8b229; border-top: 3px solid #ea4630;"
>
  Part One
</h2>

You're launched high into the atmosphere! The apex of your trajectory just barely reaches the surface of a large island floating in the sky. You gently land in a fluffy pile of leaves. It's quite cold, but you don't see much snow. An Elf runs over to greet you.

The Elf explains that you've arrived at __Snow Island__ and apologizes for the lack of snow. He'll be happy to explain the situation, but it's a bit of a walk, so you have some time. They don't get many visitors up here; would you like to play a game in the meantime?

As you walk, the Elf shows you a small bag and some cubes which are either red, green, or blue. Each time you play this game, he will hide a secret number of cubes of each color in the bag, and your goal is to figure out information about the number of cubes.

To get information, once a bag has been loaded with cubes, the Elf will reach into the bag, grab a handful of random cubes, show them to you, and then put them back in the bag. He'll do this a few times per game.

You play several games and record the information from each game (your puzzle input). Each game is listed with its ID number (like the `11` in `Game 11: ...`) followed by a semicolon-separated list of subsets of cubes that were revealed from the bag (like `3 red, 5 green, 4 blue`).

For example, the record of a few games might look like this:

``` 
Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green
Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue
Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red
Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red
Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green
```
In game 1, three sets of cubes are revealed from the bag (and then put back again). The first set is 3 blue cubes and 4 red cubes; the second set is 1 red cube, 2 green cubes, and 6 blue cubes; the third set is only 2 green cubes.

The Elf would first like to know 
<h5 
  style="color:#8fca6b; border-bottom: 1px solid #f8b229; border-top: 1px solid #f8b229;"
>
which games would have been possible if the bag contained only 12 red cubes, 13 green cubes, and 14 blue cubes?
</h5>


In the example above, games 1, 2, and 5 would have been __possible__ if the bag had been loaded with that configuration. However, game 3 would have been __impossible__ because at one point the Elf showed you 20 red cubes at once; similarly, game 4 would also have been __impossible__ because the Elf showed you 15 blue cubes at once. If you add up the IDs of the games that would have been possible, you get `8`.

Determine which games would have been possible if the bag had been loaded with only 12 red cubes, 13 green cubes, and 14 blue cubes. 

<h5 
  style="color:#8fca6b; border-bottom: 1px solid #f8b229; border-top: 1px solid #f8b229;"
>
What is the sum of the IDs of those games?
</h5>

To begin, get your [puzzle input](https://adventofcode.com/2023/day/2/input).

Answer:

In [1]:
import pandas as pd

In [14]:
cube_notes = pd.read_csv('./data/Day2.csv'
                  , names=[
                      'game',
                      'set_1',
                      'set_2',
                      'set_3',
                      'set_4',
                      'set_5',
                      'set_6'
                      ]
                  , delimiter=r'[:;]'
                  , engine='python'
                  )

cn = cube_notes.copy()
cn.head()

,game,set_1,set_2,set_3,set_4,set_5,set_6
0,Game 1,"2 green, 6 blue, 7 red","12 green, 6 blue, 3 red","5 red, 18 green, 4 blue",None,None,None
1,Game 2,"10 green, 4 red",2 red,"12 green, 11 red, 1 blue","1 blue, 11 red, 5 green","10 red, 9 green, 1 blue",None
2,Game 3,3 green,"15 red, 7 blue, 1 green","3 red, 6 blue, 1 green","14 blue, 13 red, 2 green","1 green, 6 blue, 6 red","16 red, 13 blue, 2 green"
3,Game 4,5 blue,"8 blue, 7 red","9 blue, 5 red, 4 green","4 red, 1 green","8 red, 6 blue","2 blue, 4 red, 3 green"
4,Game 5,"3 blue, 4 red, 10 green","13 green, 8 blue, 2 red","2 red, 4 green, 6 blue","3 blue, 5 green, 2 red","4 red, 13 blue, 8 green","9 green, 2 red"

In [94]:
cube_notes = pd.read_csv('./data/Day2.csv'
                  , names=[
                      'game',
                      'game_sets',
                      ]
                  , delimiter=':'
                  )

df = cube_notes.copy()
df['game'] = df['game'].apply(lambda x: int(x.strip('Game ')))
df.head()

   game                                          game_sets
0     1   2 green, 6 blue, 7 red; 12 green, 6 blue, 3 r...
1     2   10 green, 4 red; 2 red; 12 green, 11 red, 1 b...
2     3   3 green; 15 red, 7 blue, 1 green; 3 red, 6 bl...
3     4   5 blue; 8 blue, 7 red; 9 blue, 5 red, 4 green...
4     5   3 blue, 4 red, 10 green; 13 green, 8 blue, 2 ...

In [38]:
game_dict = {'red': 12,'green': 13,'blue': 14}

In [97]:
def split_game_sets(game):
  game_set = game.split(';')
  return game_set

In [151]:
def game_set_dict(game_set):
  # Instantiate temp variables:
  set_dict = {'red':0 ,'green':0 ,'blue':0 }
  nums = ''

  import string_utils as su
  set_list = su.string_reverse(game_set).split(',')
  set_list.sort()

  for colour in set_list:
    # Pull number of cubes if any:
    nums = nums.join([i for i in colour if i.isnumeric()])
    cubes = int(su.string_reverse(nums)) if len(nums) !=0 else 0

    # Assign dictionary values by cube colour:
    set_dict['red'] += cubes if colour.startswith('de') else 0
    set_dict['blue'] += cubes if colour.startswith('eu') else 0
    set_dict['green'] += cubes if colour.startswith('ne') else 0

  return set_dict

In [158]:
def check_possible_game(game):
  max_dict = {'red': 12,'green': 13,'blue': 14}
  red = []
  green = []
  blue = []
  colours = [red, green, blue]
  colour_names = ['red', 'green', 'blue']

  for game_set in split_game_sets(game):
    [colours[i].append(game_set_dict(game_set)[colour_names[i]]) for i in range(3)]

  max_x = []
  possible_game = 0
  for i in range(3):
    x = int(max(colours[i]) > max_dict[colour_names[i]])
    max_x.append(int(max(colours[i])))
    possible_game += x
  return possible_game, max_x

In [157]:
game = df['game_sets'][1]
for game_set in split_game_sets(game):
  print(game_set_dict(game_set))

{'red': 4, 'green': 140, 'blue': 0}
{'red': 2, 'green': 0, 'blue': 0}
{'red': 11, 'green': 112, 'blue': 1}
{'red': 11, 'green': 5, 'blue': 1}
{'red': 10, 'green': 9, 'blue': 1}

In [159]:
print(df['game_sets'][2])
print(df['game_sets'][2])
check_possible_game(df['game_sets'][2])

 3 green; 15 red, 7 blue, 1 green; 3 red, 6 blue, 1 green; 14 blue, 13 red, 2 green; 1 green, 6 blue, 6 red; 16 red, 13 blue, 2 green
 3 green; 15 red, 7 blue, 1 green; 3 red, 6 blue, 1 green; 14 blue, 13 red, 2 green; 1 green, 6 blue, 6 red; 16 red, 13 blue, 2 green

(2, [16, 3, 1163])

In [160]:
df['max_r_g_b'] = df['game_sets'].apply(lambda x: check_possible_game(x)[1])
df['possible_game'] = df['game_sets'].apply(lambda x: check_possible_game(x)[0])
df.head()

,game,game_sets,possible_game,max_r_g_b
0,1,"2 green, 6 blue, 7 red; 12 green, 6 blue, 3 r...",1,"[7, 162, 6]"
1,2,"10 green, 4 red; 2 red; 12 green, 11 red, 1 b...",1,"[11, 140, 1]"
2,3,"3 green; 15 red, 7 blue, 1 green; 3 red, 6 bl...",2,"[16, 3, 1163]"
3,4,"5 blue; 8 blue, 7 red; 9 blue, 5 red, 4 green...",0,"[8, 4, 9]"
4,5,"3 blue, 4 red, 10 green; 13 green, 8 blue, 2 ...",2,"[4, 183, 143]"

In [128]:
df['possible_game'].value_counts()

0    100
Name: possible_game, dtype: int64

In [119]:
possible_game = 0
for i in range(3):
  x = int(max(colours[i]) > max_dict[colour_names[i]])
  print(x)
  possible_game += x

0
0
0

In [109]:
max(red) > max_cube_dict['red']

False

In [161]:
test_games = {'3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green': 1
, '1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue': 2
, '8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red': 3
, '1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red': 4
, '6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green': 5
}

In [165]:
[check_possible_game(list(test_games.keys())[i]) for i in range(5)]

[(0, [4, 2, 6]),
 (0, [1, 3, 4]),
 (2, [20, 153, 6]),
 (2, [14, 3, 1145]),
 (0, [6, 3, 2])]

In [ ]:
test_games.keys()

In [ ]:
game_1 = '3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green'
game_2 = '1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue'
game_3 = '8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red'
game_4 = '1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red'
game_5 = '6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green'

In [88]:
game_set_dict('2 green, 6 blue, 7 red')

game_set: 2 green, 6 blue, 7 red
set_list: ['der 7 ', 'eulb 6 ', 'neerg 2']
colour: der 7
colour: eulb 6
colour: neerg 2

{'red': 7, 'green': 2, 'blue': 6}

In [ ]:
test.append('')

In [36]:
test.sort()
test

['der 7 ', 'eulb 6 ', 'neerg 2']

In [31]:
'2 green, 6 blue, 7 red'.maketrans(game_dict)

ValueError: string keys in translate table must be of length 1

In [23]:
game_set = ['2 green', ' 6 blue', ' 7 red']

In [27]:
game_set.reverse().sort()
game_set

AttributeError: 'NoneType' object has no attribute 'sort'

In [24]:
cube_keys = ['red' , 'green' , 'blue']
cube_count = []

for i in range(3):
  if cube_keys[i] in game_set[i]:
    cube_count.append(i.replace(f' {cube_keys[i]}', ''))

TypeError: cannot unpack non-iterable int object

In [ ]:
[cube_count.append(game_set[i].replace(f' {key}', '')) for i, key in range(3) if cube_keys['key'] in game_set[i]]

<h2 
  style="color:#207d06; border-bottom: 3px solid #f8b229; border-top: 3px solid #ea4630;"
>
  Part Two
</h2>

<h5 style="text-align:right; padding-right: 10%;">
  <a href="#title">Top Of Page</a>
</h5>